html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.konvajs-content {
  margin: auto;
}

.cully__main {
  border-top: 1rem solid;
}

.cully__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.cully__controls button {
  padding: 0.4rem 1.2rem;
  border: 2px solid;
  cursor: pointer;
  background: white;
  border-radius: 0.4rem;
}
